.upperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;

  padding: 2rem;
  background-color: var(--primary-bg);
  margin-bottom: 1rem;
}

.form {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

.form input {
  background-color: var(--primary-text);
  color: var(--primary-bg);
}

.form ::placeholder {
  color: var(--primary-bg);
}

.input {
  background-color: var(--primary-bg);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  width: 100%;
}
.button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background-color: var(--tertiary-bg);
  color: var(--primary-bg);
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #e64a19;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}
.alertBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
  padding: 1rem;
  width: 60%;
  z-index: 50;
  color: var(--primary-text);
  border-radius: 4px;
}

.buttonsContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.buttonsContainer > button {
  margin: 0 1rem;
  width: 100px;
  height: 40px;
  border: 1px solid #dddddd;
  color: #000000;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.buttonDelete {
  background-color: #ff4136;
}

.buttonReturn {
  background-color: #bbbbbb;
}

.buttonDelete:hover {
  background-color: #e0362d;
}
.buttonReturn:hover {
  background-color: #cccccc;
}

@media screen and (min-width: 768px) {
  .upperContainer {
    display: flex;
    flex-direction: row;
  }
}
