.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filterListContainer {
  flex-grow: 1;
}

.listContainer {
  width: 100%;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.listItem li {
  background-color: white;
  padding: 0.5rem 1rem;
  text-align: start;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.completed {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: #c00;
  width: 100%;
}

.opacity {
  opacity: 0.5;
}

.selectContainer {
  /* border: none; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.select {
  padding: 0.5rem;
}

.summaryTodos {
  padding: 0 1rem;
  text-align: start;
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
}

.button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}
.button_completed {
  background-color: green;
}

.button_delete {
  background-color: red;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  background-color: grey;
  opacity: 0.5;
}

.icon {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  /* color: green; */
  background-color: rgb(84, 233, 84);
}
