.upperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;

  padding: 2rem;
  background-color: #ffffff;
  color: var(--secondary-text);
  margin-bottom: 1rem;
}

.form {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

.form input {
  background-color: #efefef;
  color: #495057;
  /* background-color: var(--primary-text); */
  /* color: var(--primary-bg); */
}

.form ::placeholder {
  color: #495057;
}

.input {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  width: 100%;
}
.button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background-color: var(--tertiary-bg);
  color: var(--primary-text);
  border: 1px solid var(--tertiary-bg);
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #4cae4c;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}
.alertBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg);
  padding: 1rem;
  width: 60%;
  z-index: 50;
  color: var(--primary-text);
  border-radius: 4px;
}

.buttonsContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.buttonsContainer > button {
  margin: 0 1rem;
  width: 100px;
  height: 40px;
  border: 1px solid #dddddd;
  color: #000000;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.buttonDisabled {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background-color: #b2d3b5;
  color: #9da5a8;
  border: 1px solid #b2d3b5;
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}

.buttonDelete {
  background-color: #d9534f;
}

.buttonReturn {
  background-color: #bbbbbb;
}

.buttonDelete:hover {
  background-color: #d43f3a;
}
.buttonReturn:hover {
  background-color: #cccccc;
}

@media screen and (min-width: 768px) {
  .upperContainer {
    display: flex;
    flex-direction: row;
  }
}
