.summaryTodos {
  padding: 1rem;
  text-align: center;
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  background-color: var(--secondary-bg);
  height: fit-content;
  margin-left: 1rem;
  align-self: center;
}
p {
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .summaryTodos {
    align-self: flex-start;
  }
}
