.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-bottom: 1rem;
  width: 300px;
}

.input {
  background-color: white;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
.button {
  padding: 0.5rem 1rem;
  /* height: 0.5rem;
  width: 1rem; */
  margin-left: 0.5rem;
}
.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
}

.listItem li {
  background-color: white;
  padding: 0.5rem;
  text-align: start;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.completed {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: #c00;
  width: 100%;
}

.opacity {
  opacity: 0.5;
}
